<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лексико-типологическая анкета</title>
</head>
<body style="font-family:Arial;">
<img src="Colorful-Welcome-Text-Header-Image.png" width="60%">
<h1 style="color:darkgreen">Как называются эти предметы на Вашем языке?</h1>
<p>Мы собираем словари разных языков мира. Мы хотим знать, как называются некоторые предметы бытового обихода </br> на Вашем языке и просим указать
    их названия в полях под картинками.</br> Но прежде мы просим сообщить некоторую информацию о себе для статистики.</p>
<p>Благодарим за сотрудничество!</p>
<p></p>
<form>
    <p>Как к Вам обращаться?</p>
    <input type="text" name="name" size="20" /> Имя<br>
    <input type="text" name="lastname" size="20" /> Фамилия<br>
    <p>Ваш пол?</p>
    <input type="radio" name="Sex" value = "male" checked="checked" /> Мужчина<br>
    <input type="radio" name="Sex" value = "female"/> Женщина<br>
    <p>Нам необходимо знать Ваш возраст</p>
    <input type="text" name="birth" size="20" /> Полных лет<br>
    <p>Вы живете в городе или в деревне?</p>
    <input type="radio" name="residence" value = "city" checked="checked" /> В городе<br>
    <input type="radio" name="residence" value = "village"/> В деревне<br>
    <p>На каком языке Вы чаще всего говорите и пишете?</p>
    <input type="text" name="language" size="20" /> Язык<br>
    <p>А теперь, пожалуйста, впишите названия предметов</br>
        на том языке, который Вы указали выше:</p>
    <img src="../pictures/coffee.png" width="20%"></br>
    <input type="text" name="coffeemach" size="20" /> Кофеварка<br>
    <img src="../pictures/television.png" width="20%"></br>
    <input type="text" name="television" size="20" /> Телевизор<br>
    <img src="../pictures/kettle.png" width="15%"></br>
    <input type="text" name="kettle" size="20" /> Чайник<br>
    <p>И это все на сегодня</p>
    <input type="submit" value="Сохранить ответы"></br>
</form>
<p>Весьма признательны Вам за уделенное время!</p>
<p>Желаем всего доброго!</p>

<img src="thankyou-final-VCH-650x280-600x280.png" width="60%">
</body>
</html>