<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Поиск в анкетах</title>
</head>
<body style="font-family:Arial;">

<h1 style="color:darkgreen">Поиск названий предметов в анкетах</h1>
<p>Выбрав изображение предмета и нажав кнопку "Поиск",</br>
    Вы получите список названий этого предмета на разных</br>
    языках, в соответствии с имеющимися заполненными анкетами</p>

<p></p>
<form>
    <input type="radio" name="SearchWord" value = "Coffee-machine" checked="checked" /> <img src="../static/coffee.png" width="5%"><br>
    <input type="radio" name="SearchWord" value = "Television"/><img src="../static/television.png" width="5%"><br>
    <input type="radio" name="SearchWord" value = "Kettle"/><img src="../static/kettle.png" width="5%"><br>
    <input type="radio" name="SearchWord" value = "Iron"/><img src="../static/iron.png" width="5%"><br>
    <input type="radio" name="SearchWord" value = "Smartphone"/><img src="../static/smartphone.png" width="5%"><br>
    <input type="submit" value="Поиск"></br>
</form>

<p>Спасибо за использование нашего сервиса!</p>

</body>
</html>